.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fb;
}

.first_page_login_container {
  border-radius: 10px;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
}
.first_page_login_container #company_logo {
  width: calc(10 * 2.1rem);
  height: 100%;
  object-fit: contain;
  margin-top: 2rem;
}
.first_page_login_container .welcoming_msg {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.first_page_login_container .welcoming_msg h1 {
  font-size: 2.1rem;
  font-weight: bold;
}
.first_page_login_container .input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.first_page_login_container .login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn button, .alltickets_header button, .finalize_ticket button, .finalize_checklist button, .search-container button, .alltickets_search-container button {
  border: 0.125rem solid #FFFFFF;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #6ccb00;
  color: #FFFFFF;
  margin-top: 3rem;
  margin-bottom: 3.75rem;
  font-family: sans-serif;
}
.login_btn button:hover, .alltickets_header button:hover, .finalize_ticket button:hover, .finalize_checklist button:hover, .search-container button:hover, .alltickets_search-container button:hover {
  background-color: #dadada;
  border-color: #6ccb00;
  color: #6ccb00;
}
.login_btn button:active, .alltickets_header button:active, .finalize_ticket button:active, .finalize_checklist button:active, .search-container button:active, .alltickets_search-container button:active {
  background-color: #468500;
  border-color: #6ccb00;
  color: #FFFFFF;
}

input {
  border-color: #dadada;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-family: sans-serif;
}
input:focus {
  border-color: #393e44;
}

label {
  font-size: 0.8rem;
  font-weight: semi-bold;
  color: #393e44;
  font-family: sans-serif;
  margin-bottom: 0.08rem;
}

.navbar-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0.1rem solid #dadada;
  background-color: #FFFFFF;
}

.nav_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-left .nav-logo {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 6rem;
  object-fit: contain;
  padding: 0.5rem;
}

#nav_items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  font-size: 0.875rem;
  color: #393e44;
}
#nav_items .logout-btn img {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  color: #788ba5;
  margin-right: 0.5rem;
}
#nav_items .wbi {
  font-size: 0.675rem;
  color: #788ba5;
}
#nav_items .user-info {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  font-size: 0.875rem;
}

.user_picture img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 2rem;
  object-fit: contain;
  border-radius: 50%;
  border: 0.2rem solid #0eafe0;
  margin-right: 0.5rem;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.archive_tab {
  font-size: 1.165rem;
  margin-right: 1.3rem;
  text-decoration: none;
  color: #393e44;
}
.archive_tab:hover {
  color: #fca600;
}

.tickets_tab {
  font-size: 1.165rem;
  margin-right: 1.3rem;
  text-decoration: none;
  color: #393e44;
}
.tickets_tab:hover {
  color: #fca600;
}

.search-container, .alltickets_search-container {
  margin-right: 0.5rem;
  display: flex;
  justify-items: center;
  justify-content: end;
  align-items: center;
}
.search-container button, .alltickets_search-container button {
  position: absolute;
  margin: 0;
  margin-right: 0.4rem;
  padding: 0;
  margin-top: 0.15rem;
  height: auto;
  background: #FFFFFF;
}
.search-container button:hover, .alltickets_search-container button:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper2 .onboarding_container .checklist .item .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin: 1rem;
}

.wrapper2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f6f8fb;
}
.wrapper2 .onboarding_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f6f8fb;
}
.wrapper2 .onboarding_container .onboarding_window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  border: 0.1rem solid #dadada;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: calc(10 * 4.6875rem);
  width: 100%;
  height: auto;
}
.wrapper2 .onboarding_container .onboarding_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  height: auto;
}
.wrapper2 .onboarding_container .onboarding_top .header {
  display: flex;
  font-size: 4.6875rem;
  justify-content: center;
  font-weight: bold;
  width: 100%;
}
.wrapper2 .onboarding_container .onboarding_top .colorfil_underline {
  width: 95%;
  height: auto;
}
.wrapper2 .onboarding_container .checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  width: 95%;
  height: auto;
}
.wrapper2 .onboarding_container .checklist .item {
  display: flex;
  margin: 0.5rem;
}
.wrapper2 .onboarding_container .checklist .item .checkbox .checkbox_vec {
  width: 1.5rem;
  height: auto;
}
.wrapper2 .onboarding_container .checklist .item .checkbox .checkbox-checked {
  width: 1.5rem;
  height: auto;
  scale: 130%;
}
.wrapper2 .onboarding_container .checklist .item .text {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.3rem;
}
.wrapper2 .onboarding_container .finalize_checklist {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.wrapper2 .onboarding_container .finalize_checklist .finalize_btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.newticket_container, .alltickets_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newticket_window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  border: 0.1rem solid #dadada;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: calc(10 * 4.6875rem);
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-top: 2rem;
}

.newticket_header, .alltickets_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}
.newticket_header h1, .alltickets_header h1 {
  font-size: 2.1rem;
  color: #0eafe0;
}
.newticket_header .X, .alltickets_header .X {
  background: none;
  border: none;
  cursor: pointer;
}

.newticket_subject,
.newticket_description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.newticket_subject label,
.newticket_description label {
  font-size: 1rem;
  color: #181e25;
  margin-bottom: 0.5rem;
}
.newticket_subject input,
.newticket_subject textarea,
.newticket_description input,
.newticket_description textarea {
  border: 0.1rem solid #dadada;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #181e25;
  width: 97.5%;
  margin-bottom: 1rem;
}

textarea {
  height: 5rem;
  resize: vertical;
}

.choosing_fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fields, .fields2 {
  list-style: none;
  padding: 0;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.fields li, .fields2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1.5rem;
}
.fields li label, .fields2 li label {
  font-size: 1rem;
  color: #393e44;
  margin-bottom: 0.5rem;
}
.fields li select, .fields2 li select {
  border: 0.1rem solid #dadada;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #181e25;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 16rem;
}
.fields li select:focus, .fields2 li select:focus {
  outline: none;
  border-color: #393e44;
}
.fields .add_attachment, .fields2 .add_attachment {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  margin-top: 1.625rem;
  width: 8rem;
  height: 2.3125rem;
  border-radius: 5px;
  border: 0.1rem solid #dadada;
}
.fields .add_attachment .text_in_attachment, .fields2 .add_attachment .text_in_attachment {
  color: #181e25;
  font: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  margin-right: 0.5rem;
}
.fields .add_attachment .paperclip, .fields2 .add_attachment .paperclip {
  height: 1.5rem;
}

.finalize_ticket .finalize_ticket_btn {
  width: 8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.alltickets_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  width: 100%;
}

.alltickets_window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  border: 0.1rem solid #dadada;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: calc(20 * 4.6875rem);
  height: auto;
  padding: 2rem;
  margin-top: 2rem;
}
.alltickets_window .alltickets_header h1 {
  font-size: 3.1rem;
}
.alltickets_window .alltickets_header button.create_ticket {
  font-size: 1.5rem;
  width: 10rem;
}

.alltickets_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 2rem;
}
.alltickets_navbar .ticket_status_view_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
}
.alltickets_navbar .ticket_status_view_options .open_tickets, .alltickets_navbar .ticket_status_view_options .closed_tickets, .alltickets_navbar .ticket_status_view_options .all_tickets {
  cursor: pointer;
  margin-right: 1.5rem;
  background: none;
  color: #181e25;
  font-size: 1.2rem;
  border: none;
}
.alltickets_navbar div.ticket_srch_filter_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 1rem;
}
.alltickets_navbar div.ticket_srch_filter_options .filter-container img {
  width: 100%;
  height: 2rem;
}

.alltickets_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.alltickets_item_upperrow, .alltickets_item_lowerrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.alltickets_item_upperrow .alltickets_item_header, .alltickets_item_upperrow .alltickets_item_ID, .alltickets_item_upperrow .alltickets_item_dates, .alltickets_item_upperrow .alltickets_item_status_priority, .alltickets_item_lowerrow .alltickets_item_header, .alltickets_item_lowerrow .alltickets_item_ID, .alltickets_item_lowerrow .alltickets_item_dates, .alltickets_item_lowerrow .alltickets_item_status_priority {
  display: flex;
  align-items: center;
}
.alltickets_item_upperrow .alltickets_item_dates, .alltickets_item_lowerrow .alltickets_item_dates {
  margin-right: 5rem;
}
.alltickets_item_upperrow .alltickets_item_header, .alltickets_item_lowerrow .alltickets_item_header {
  flex-grow: 1;
}
.alltickets_item_upperrow .alltickets_item_ID, .alltickets_item_lowerrow .alltickets_item_ID {
  flex-shrink: 0;
  margin-left: auto;
}
.alltickets_item_upperrow ul, .alltickets_item_lowerrow ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}
.alltickets_item_upperrow li, .alltickets_item_lowerrow li {
  margin: 0;
}

.alltickets_item_status_priority {
  flex-direction: column;
  align-items: flex-end;
}

#created_on, #updated_on, #closed_on, #status_, #priority_ {
  font-size: 0.9rem;
}
#created_on .label, #updated_on .label, #closed_on .label, #status_ .label, #priority_ .label {
  color: #7e7e7e;
  font-size: 0.8rem;
}

.extended-item {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
.extended-item .ticket-details {
  display: flex;
  flex-direction: column;
}
.extended-item .info-section {
  display: flex;
  justify-content: space-between;
}
.extended-item .info-block {
  background: #F8F8F8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.extended-item .label {
  font-weight: bold;
  color: #333333;
  margin-right: 5px;
}
.extended-item .ticket-conversation {
  background: #F8F8F8;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}
.extended-item .sender {
  text-align: right;
}
.extended-item .receiver {
  text-align: left;
}
.extended-item .ticket-response {
  margin-top: 20px;
}
.extended-item textarea {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #CCCCCC;
}
.extended-item .X {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.extended-item .X:hover {
  border: none;
  background: none;
  scale: 110%;
}
.extended-item .X:active {
  border: none;
  background: none;
  scale: 120%;
}
.extended-item button {
  background-color: #4F46E5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.extended-item .timestamp {
  /* ... existing styles ... */
  font-size: 0.75rem;
  color: #999;
}

/*# sourceMappingURL=main.css.map */
