.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fb;
}

.first_page_login_container {
  border-radius: 10px;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
}
.first_page_login_container #company_logo {
  width: calc(10 * 2.1rem);
  height: 100%;
  object-fit: contain;
  margin-top: 2rem;
}
.first_page_login_container .welcoming_msg {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.first_page_login_container .welcoming_msg h1 {
  font-size: 2.1rem;
  font-weight: bold;
}
.first_page_login_container .input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.first_page_login_container .login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 0.125rem solid #FFFFFF;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #6ccb00;
  color: #FFFFFF;
  margin-top: 3rem;
  margin-bottom: 3.75rem;
  font-family: sans-serif;
}
button:hover {
  background-color: #dadada;
  border-color: #6ccb00;
  color: #6ccb00;
}
button:active {
  background-color: #468500;
  border-color: #6ccb00;
  color: #FFFFFF;
}

input {
  border-color: #dadada;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-family: sans-serif;
}
input:focus {
  border-color: #393e44;
}

label {
  font-size: 0.8rem;
  font-weight: semi-bold;
  color: #393e44;
  font-family: sans-serif;
  margin-bottom: 0.08rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0.1rem solid #dadada;
  background-color: #FFFFFF;
}

.onboarding_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-left .nav-logo {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 6rem;
  object-fit: contain;
  padding: 0.5rem;
}

#nav_items {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  font-size: 0.875rem;
  color: #393e44;
}

.user_picture img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 2rem;
  object-fit: contain;
  border-radius: 50%;
  border: 0.2rem solid #0eafe0;
  margin-right: 0.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.wbi {
  font-size: 0.675rem;
  color: #788ba5;
}

.logout-btn img {
  display: flex;
  align-items: center;
  height: 1.1rem;
  padding-top: 0.25rem;
  color: #788ba5;
  margin-right: 0.5rem;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f6f8fb;
}
.wrapper2 .onboarding_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f6f8fb;
}
.wrapper2 .onboarding_container .onboarding_window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  border: 0.1rem solid #dadada;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: calc(10 * 4.6875rem);
  width: 100%;
  height: auto;
}
.wrapper2 .onboarding_container .onboarding_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  height: auto;
}
.wrapper2 .onboarding_container .onboarding_top .header {
  display: flex;
  font-size: 4.6875rem;
  justify-content: center;
  font-weight: bold;
  width: 100%;
}
.wrapper2 .onboarding_container .onboarding_top .colorfil_underline {
  width: 95%;
  height: auto;
}
.wrapper2 .onboarding_container .checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  width: 95%;
  height: auto;
}
.wrapper2 .onboarding_container .checklist .item {
  display: flex;
  margin: 0.5rem;
}
.wrapper2 .onboarding_container .checklist .item .checkbox {
  display: flex;
  justify-content: center;
  align-items: start;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 1rem;
}
.wrapper2 .onboarding_container .checklist .item .checkbox .checkbox_vec {
  width: 1.5rem;
  height: auto;
}
.wrapper2 .onboarding_container .checklist .item .text {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.3rem;
}
.wrapper2 .onboarding_container .finalize_checklist {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.wrapper2 .onboarding_container .finalize_checklist .finalize_btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 8rem;
}

/*# sourceMappingURL=main.css.map */
